branches:
  only:
  - master
env:
  global:
  - MY_PHONE_NUMBER=500-555-5006
  - DATABASE_URL=postgres:///travis_ci_test
  - DB=postgresql
language: ruby
rvm:
- 2.1.2
notifications:
  email:
  - adam.saegebarth@gmail.com
  slack:
    secure: GRQPZM+tfzF02yLBrh9lHswPnlEOrgRBp0GbctgjKlJ+ysDD2F4V8uvCR2xpIZBAVqey9dRz83TCUlsJkISOGksrB7ZVWkTs8QFg9tdusdQNLcOIQkCTdq5c/cspnqnbI7IGlRj0HrrZz4VXupKBFelTVjpHU75w3BMbRdl6U4c=
bundler_args: "--without production"
addons:
  postgresql: '9.3'
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
script:
- RACK_ENV=test bundle exec rake db:migrate --trace
- bundle exec rake db:seed
- bundle exec rake
services:
  - redis-server
